.nav-links li {
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  max-height: 5vh;
  background: lightpink;
  font-size: 20px;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav li:hover {
  color: red;
}

.bsweet_logo img {
  width: 50px;
}

.bsweet_logo {
  margin: 0;
  width: 60px;
}