/* .nav-links li {
  color: white;
} */

/* Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  max-height: 5vh;
  background: lightpink;
  font-size: 20px;
  color: white;
} */

/* 
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
} */

.bsweet_logo {
  margin: 0;
  width: 70px;
  height: 70px;
}

div.navbar-collapse.collapse {
  text-align: right;
}