.page {
  max-height: 100vh;
  /* max-width: 100vh; */
  /* padding: 300px; */
  text-align: center;
}

.carousel .slide {
  height: 600px;
  margin: 0 auto;
}

.carousel .slide img {
  height: 600px;
}

.carousel .thumb {
  display: none;
}

.carousel .carousel-status {
  display: none;
}

/* ===================== Nav ========================== */

/* ======================Footer ====================*/

Footer {
  text-align: center;
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  color: grey;
  margin-top: 40px;
  /* background: red; */
  letter-spacing: .02em;
}

.footer-icon {
  margin: 5px;
  padding: 5px;
  width: 60px;
  height: 60px;
}

footer li {
  padding-bottom: 40px;
}

/* ====================       ============================= */

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  line-height: 1em;
  border-left: solid 1px #F8F9FA;
  padding: 0 0 0 0.5em;
  margin: 0 0 0 0.5em;
}

.menu-footer-container {
  border-bottom: 1px solid #DEDEDE;
  overflow: auto;
  margin-top: 30px;
}

/* ================Dese */

.demo-image {
  display: block;
  height: auto;
}

img {
  height: auto;
  max-width: 100%;
}

.demo {
  margin-bottom: 24px;
  overflow: hidden;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .main_image {}
}