.App {
  text-align: center;
}

.carousel .slide {
  height: 400px;
}

.carousel .thumb {
  display: none;
}

.carousel .carousel-status {
  display: none;
}

/* .carousel .slider img {
  width: 100%;
} */